  <div class="div-signup">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="close">
    </div>
    <div class="dsu-pseudo">
      <p><%= f.text_field :username, autocomplete: "username", placeholder: "Pseudo"%></p>
    </div>
    <div class="dsu-email">
      <p><%= f.email_field :email, autocomplete: "email", placeholder: "Adresse Email", class: "bab-input"%></p>
    </div>
    <div class="dsu-pwd1">
      <p><%= f.password_field :password, autocomplete: "off", placeholder: "Mot de passe" %></p>
    </div>
    <div class="dsu-pwd2">
      <p><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmer mot de passe" %></p>
    </div>
    <div class="dsu-country">
      <p><%= f.text_field :country, autocomplete: "country", placeholder: "Pays d'origine"%></p>
    </div>
    <div class="dsu-btn">
      <p><%= f.submit "Créer", class: "btn-sign"%></p>
    </div>
    <div class="dsu-fd-btn">
    </div>
    <div class="dsu-connect">
      <p><%= render "devise/shared/links" %></p>
    </div>
      <% end %>
  </div>
