<div class="shop-class">

          <div class="row red">
            <div class="col-lg-4 blue">
              <h1>L'ATELIER</h1>
            </div>
            <div class="col-lg-4 green">
              <%= link_to "Mon panier", carts_path, class: "h3", remote: true %>
            </div>
          </div>


          <div class="row">
          <% if !@products.nil? %>
            <% @products.each do |product| %>
              <% if product.availability == 1 %>
              <div class="row blue">
                <div class="col-lg-6">
                  <h3>
                    <%= product.title %>
                  </h3>
                </div>

                <div class="col-lg-4">

                <% if user_signed_in? %>

                      <%= form_for @order_item, remote: true do |f| %>
                        <%= f.hidden_field :product_id, value: product.id %>
                        <h5><%= number_to_currency(product.price, unit: '€') %></h5>
                        <%= f.hidden_field :quantity, value: 1, min: 1 %>
                          <% if !(current_order.products.include? product) %>
                            <%= f.submit "Ajouter au panier", class:"btn btn-success" %>
                          <% end %>
                      <% end %>

                <% else %>
                  <%= link_to 'Se connecter pour acheter cet article', new_user_session_path %>

                </div>
                <% end %>

              </div>


              <% elsif product.availability == 0 %>
                  <div class="col-sm-8">
                    <h3><%= product.title %></h3>
                  </div>
                  <div class="col-sm-4">
                      <div class="pull-right">
                        <p>Rupture de stock</p>
                      </div>
                  </div>


              <% end %>
            <% end %>

            <% else %>
            <h2>Pas encore de produit!</h2>
            <% end %>
          </div>

</div>
