<div class="shop-class">
  <h1>Atelier</h1>
</div>

<% if user_signed_in? %>
  <div class="cart-content">
    <div class="number-item"><h3><%= link_to carts_path, remote: true do %><%= current_order.products.length %> article(s)<br>dans votre sac à dos<% end %>.</h3></div>
    <div class="cart-logo"></div>
    <% if @user.is_admin %>
      <%= link_to products_path do %>
        <%= image_tag ("logo_admin.png"), class: "admin-logo" %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="cart-content">
    <div class="number-item"><h3>Connectez-vous pour avoir accès à votre sac à dos!</h3></div>
    <div class="cart-logo"></div>
  </div>
<% end %>

<div class="showcase">
<% @products.each do |product| %>
 <% if product.published? %>
  <div class="item">
      <% if !(product.image_url == nil) %>
        <%= cl_image_tag("#{product.image_url}", :width=>350, :fetch_format=>:auto, :crop=>"scale") %>
      <% end %>
      <%= link_to product_path(product), remote: true  do %>
  <div class="overlay">
    <div class="item-infos">
      <div class="item-title"><%= product.title.capitalize %></div>
      <hr>
      <% if product.availability == 1 %>
        <div class="item-description"><p><%= simple_format(product.quotation) %></p></div>
      <% else %>
        <div class="item-description">Oeuvre déjà vendue ...</div>
      <% end %>
    </div>
  </div>
  <% end %>
  </div>
 <% end %>
<% end %>
</div>
