<div class="nav">
  <nav class="btn-ctn">
    <a class="buttons" target="_blank" href="https://github.com/iMassim0/FinalProject_RTOM_TeamBDX" tooltip="Github"></a>
    <a class="buttons" target="_blank" href="mailto:prout2cul@koukoucki.com" tooltip="Mail"></a>
    <a class="buttons" target="_blank" href="https://www.instagram.com/resiliencetravelofmango/" tooltip="Instagram"></a>
    <a class="buttons" target="_blank" href="https://www.facebook.com/ResilienceTravelofMango/" tooltip="Facebook"></a>
    <a class="buttons" target="_blank" href="#" tooltip="Contacts"><span><span class="pal"></span></span></a>
  </nav>
  <%= link_to book_path, remote: true do %>
    <div class="liv">
      <div class="btn-ct-liv">
        <div class="btn-liv">
        </div>
      </div>
    </div>
    <% end %>
<%= link_to profile_path do %>
  <div class="conn">
    <div class="btn-ct-conn">
      <div class="btn-conn">
      </div>
    </div>
  </div>
  <% end %>
<%= link_to shop_path, remote: true do %>
  <div class="shop">
    <div class="btn-ct-shop">
      <div class="btn-shop">
      </div>
    </div>
  </div>
  <% end %>
<%= link_to trip_path, remote: true do %>
  <div class="iti">
    <div class="btn-ct-iti">
      <div class="btn-iti">
      </div>
    </div>
  </div>
  <% end %>
<%= link_to characters_path, remote: true do %>
  <div class="img">
    <div class="btn-ct-img">
      <div class="btn-img">
      </div>
    </div>
  </div>
  <% end %>
<%= link_to blog_path, remote: true do %>
  <div class="pass">
    <div class="btn-ct-pass">
      <div class="btn-pass">
      </div>
    </div>
  </div>
<% end %>

<div class="links">
  <a href="#" class="home-link">Mentions Légales</a>
  <a href="#" class="home-link">CGV</a>
</div>


</div>
<div class="dashboard">
  <div class="z-content bg-content" style="display: none;">
      <div id="main-container" class="main-container">

      </div>
  </div>
</div>
<div class="links">
  <a href="#" class="link">Mentions Légales</a>
  <a href="#" class="link">CGV</a>
</div>
