<div id="marker-1" >
  <div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
    <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "01.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>Kochi - KERALA (India)</h3>
      <p>[...]<br/>
        Peut-être que je peux commencer par écrire que je suis seule, dans cette chambre aux affreuses tentures violines qui
        sentent le curry macéré.<br/>
        La boule que j’avais dans l’estomac, m’est remontée dans la gorge et m’empêche de déglutir.<br/>
        Je refoule un sanglot d’effroi.<br/>
        Six mois...<br/>
        Pourquoi me suis-je lancée ce défi que je ne souhaite plus relever ?<br/>
        [...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
  </div>
</div>
</div>

<div id="marker-2">
  <div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
    <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "03.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>Varkala - KERALA (India)</h3>
      <p>[...]<br/>
"Arrête de porter ces masques ... Tu n'as pas besoin d'être parfaite pour avoir droit aux plaisirs de la vie." me dit-il.<br/>
        [...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
  </div>
</div>
</div>

<div id="marker-3" >
  <div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
    <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "04.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%;" class="d-flex flex-column justify-content-center align-items-center">
        <h3>Jodhpur - RAJASTHAN (India)</h3>
        <p>[...]<br/>
          Les premiers rayons du soleil me tirent de mon sommeil à 6H30. La chaleur est suffocante dans cette chambre aux
          briques de pierre.<br/>
          Je sors dans la rue, vêtue de mon sarouel anthracite et pashmînâ ivoire. Les rickshaws me klaxonnent, les motos me
          bousculent. La ville bleue est à peine réveillée qu’elle est déjà en plein effervescence.<br/>
          J’enjambe le cadavre décharné d’un chien, slalome entre les vaches amaigries.<br/>
          L’Inde est pauvre, sale et bruyante. Je ne me l’explique pas, mais je l’aime déjà profondément.<br/>
          [...]
        </p>
        <%= link_to "Retour à la carte", trip_path, remote: true %>
    </div>
  </div>
</div>
</div>

<div id="marker-4" >
  <div style="height: 90vh;" class="d-flex justify-content-center align-items-center">
    <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "05.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%;" class="text-justify d-flex flex-column justify-content-center align-items-center">
      <h3>Mathura - UTTAR PRADESH (India)</h3>
      <p>[...]<br/>
        Bombardés par les seaux de peinture. Orange pour l’optimisme.<br/>
        Accablés par les pigments de couleur. Rouge pour l’amour.<br/>
        On se livre à une bataille chromatique. Jaune pour la foi.<br/>
        Dont les munitions sont ces poudres bariolées. Vert pour l’harmonie.<br/>
        Pour la journée des réjouissances débridées. Bleu pour la vitalité.<br/>
        [...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
  </div>
</div>
</div>

<div id="marker-5" >
  <div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
    <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "06.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>Dehli - India</h3>
      <p>[...]<br/>
        Au milieu de sa folle effervescence, l'Inde nous octroie cette parenthèse de douceur.<br/>
        Loin du tumulte de cette bruyante impasse. Loin de l'excitation des rues surpeuplées de cette grouillante et
        oppressante capitale.<br/>
        Il est la tendresse incarnée.<br/>
        [...]<br/>
        Je suis face au carrefour de mes sentiments et finalement peu importe la direction que je prends. Mes craintes et
        regrets sont derrière moi.<br/>
        C'est un lever de soleil, sur mon cœur.<br/>
        [...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
  </div>
</div>
</div>

<div id="marker-6" >
  <div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
    <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "07.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>Bhaktapur - NEPAL </h3>
      <p>[...]<br/>
        Je suis frappée par les ravages d’un des séismes les plus meurtrier... L’ampleur des dégâts est inimaginable. Je me
        perds entre les monuments endommagés, les habitations dévastées.<br/>
        [...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
  </div>
</div>
</div>

<div id="marker-7" >
  <div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
    <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "08.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>Chame - NEPAL</h3>
      <p>[...]<br/>
        Ce matin, le ciel est envahi d’une insolite lumière rousse et pas un oiseau ne chante. Les paysages se font de plus en
plus sauvages et la chaîne himalayenne se découpe peu à peu.<br/>
Mes pensées vagabondent jusqu’à ce jour de novembre, gorgé de soleil, où mon monde s’est assombri.<br/>
        [...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
  </div>
</div>
</div>

<div id="marker-8" >
  <div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
    <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "09.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>Yak Kharka - NEPAL</h3>
      <p>[...]<br/>
    Je ne suis plus habitée par l’espoir de son retour.<br/>
J’avance désormais sur mon chemin et le parfum des cerisiers en fleurs m’embaume.<br/>
        [...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
  </div>
</div>
</div>

<div id="marker-9" >
<div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
  <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "10.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: auto; font-size: 0.8em;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>Thorong Pedi - NEPAL </h3>
      <p>[...]<br/>
        4 400 mètres ; 4:15 a.m<br/>
Je me laisse guider par la sublime voie lactée, tentant d'étouffer la douleur qui tétanise mes muscles.<br/>
[...]<br/>
4950 mètres ; 5:10 a.m<br/>
Le mollet meurtri, je me mets à trembler furieusement. Des fourmillements inondent tous mes membres.<br/>
Je tente de respirer calmement mais mes poumons gémissent en produisant un râle aigu à chaque inspiration.<br/>
La main crispée sur mon sternum, je le blâme dans regard assassin.<br/>
Je ne le laisserai pas gâcher mon ascension.<br/>
[...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
  </div>
</div>
</div>

<div id="marker-10" >
<div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
  <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "11.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: auto; font-size: 0.8em;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>Thorong La Pass - NEPAL </h3>
      <p>[...]<br/>
5150 mètres ; 6:20 a.m<br/>
Les rayons fusent comme des flèches, avec pour cible le sommet des titanesques monts immaculés. Je surveille la
progression des raies de soleil qui progressent dans la vallée. L'air glacial me fouette le visage, me brûle la gorge.<br/>
Il pose sa main sur mon épaule, mais je ne veux pas de sa compassion ni de son soutien. C'est mon combat.<br/>
Les Annapurnas nous dominent majestueusement.<br/>
Face aux sommets je reste humble, essuie mes larmes et repars, la rage au ventre.<br/>
        [...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
  </div>
</div>
</div>

<div id="marker-11" >
  <div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
    <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "12.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>Kawah Ijen - JAVA (Indonesia)</h3>
      <p>[...]<br/>
        Il plonge une dernière fois ses yeux dans les miens, avant de s'évanouir dans la brume. Mon monde perd de sa clarté
et le crachin de l'aube m'enserre à nouveau.<br/>
Le souvenir de son visage restera à jamais gravé dans ma mémoire.<br/>
        [...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
  </div>
</div>
</div>

<div id="marker-12" >
<div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
  <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "13.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>Gili T - LOMBOK (Indonesia)</h3>
      <p>[...]<br/>
        Il me faut faire taire mon mal-être, museler ma honte.<br/>
Je sais qu'elle a l'exceptionnelle capacité de lire en moi mais je ne veux pas qu'elle se blâme de ne pas avoir été là pour
me protéger. Elle n'est aucunement responsable de mes actes.<br/>
C'était ma décision.<br/>
Je m'affale sur notre lit rempli de sable, laissant la culpabilité me dévorer. Les minutes et les remords s'abattent sur
moi...<br/>
[...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
  </div>
</div>
</div>

<div id="marker-13" >
  <div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
    <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "14.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%; font-size: 1.5em;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>Gunung Rinjani - LOMBOK (Indonesia)</h3>
      <p>[...]<br/>
        Désillusion, désenchantement. Conquérir les Annapurnas mais faillir au pied du redoutable et admirable Mont
Rinjani.<br/>
Tête baissée, regard rivé dans ses pas. Docilement, je me remets en chemin.<br/>
L’ascension est un véritable supplice.<br/>
Pourtant il faut avancer... vaincre ce sommet !<br/>
Cette victoire sera notre ! Partagée !<br/>
J’ai les larmes aux yeux. Je réalise que ce défi ne m’est pas personnel comme je le pensais.<br/>
Je n’ai plus rien à lui prouver. Je veux réussir.<br/>
Mais sans eux, ça n’a aucun sens.<br/>
A trois... ou rien.<br/>
Nous vacillons ensemble, sur la crête aiguisée du cratère.<br/>
Lentement, le soleil s’éveille, le ciel s’embrase. Les éclatantes lueurs ainsi que les cris d’encouragements nous
guident, nous poussent.<br/>
Le ciel teinte les nuages de mélancolie.<br/>
Nous sommes abasourdis par les nuances, les pigments de couleur.<br/>
Du pourpre au cuivre. De l’ocre au fuchsia.<br/>
[...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
  </div>
</div>
</div>

<div id="marker-14" >
  <div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
    <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "15.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>Amed - BALI (Indonesia)</h3>
      <p>[...]<br/>
Nos pensées s'égarent tandis que l'on bascule dans une douce ivresse.<br/>
Il me sauve du chagrin et des regrets qui m'imprégnaient. Il fait disparaître les remords de mon corps.<br/>
C'est plus que l'impression de si bien le connaître.<br/>
C'est l'impression de l'avoir attendu. Depuis toujours.<br/>
[...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
  </div>
</div>
</div>

<div id="marker-15" >
  <div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
    <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "16.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>Jemeluk - BALI (Indonesia)</h3>
      <p>
        [...]<br/>
Nos pensées s'égarent tandis que l'on bascule dans une douce ivresse.<br/>
Il me sauve du chagrin et des regrets qui m'imprégnaient. Il fait disparaître les remords de mon corps.<br/>
C'est plus que l'impression de si bien le connaître.<br/>
C'est l'impression de l'avoir attendu. Depuis toujours.<br/>
[...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
  </div>
</div>
</div>

<div id="marker-16" >
  <div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
    <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "17.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>KoyaSan - JAPAN</h3>
      <p>[...]<br/>
        Au milieu des hauts cèdres et de ces milliers de tombes, plongée dans une brume épaisse, l’ambiance est
fantomatique.<br/>
L’odeur douce et poivrée de sous-bois après la pluie, de feuilles de lierres froissées, est saisissante.<br/>
        [...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
  </div>
</div>
</div>

<div id="marker-17">
  <div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
    <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "18.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>Miyajima - JAPAN</h3>
      <p>[...]<br/>
        Je pense subitement à ma mère... Une véritable louve pour moi qui m’a protégé de tout et tous en me
transmettant son amour, son tempérament de feu et sa sensibilité.<br/>
De l’amour à la haine, de la fusion au conflit, notre lien à toujours balancé d’un extrême à l’autre.<br/>
        [...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
    </div>
  </div>
</div>

<div id="marker-18">
  <div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
    <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "19.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>Hiroshima - JAPAN</h3>
      <p>[...]<br/>
        Je dégaine mes affiches directionnelles.<br/>
Positionnée sur l’artère que je crois principale, je lève le pouce.<br/>
Les feux rouges se succèdent, mon bras se fait lourd et mon sourire de plus en plus crispé. Il faut se rendre à l’évidence
: je n’arrive pas à sortir de la ville.<br/>
        [...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
    </div>
  </div>
</div>

<div id="marker-19">
  <div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
    <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "20.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>Kyoto - JAPAN</h3>
      <p>[...]<br/>
        Je regarde mon portable, hébétée. J’ai raccroché.<br/>
Je pense « France »... compromis, engagements, auxquels je ne suis pas prête. Ça bouillonne dans ma tête !<br/>
        [...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
    </div>
  </div>
</div>

<div id="marker-20">
  <div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
    <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "21.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>Tokyo - JAPAN</h3>
      <p>[...]<br/>
        Pas un seul moment sans que je ne pense à lui. Je l’ai dans la peau.<br/>
        [...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
    </div>
  </div>
</div>

<div id="marker-21">
  <div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
    <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "22.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>Waikiki (Oahu) - HAWAII</h3>
      <p>[...]<br/>
        Derrière le hublot, je peux déjà ressentir l’étrange et mystique atmosphère qui se dégage de Big Island. Comme un
appel...<br/>
        [...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
    </div>
  </div>
</div>

<div id="marker-22">
  <div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
    <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "23.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>Kehena Beach (Big Island) - HAWAII</h3>
      <p>[...]<br/>
        La mer se déchaîne et la tempête nous assiège. Nous sommes encerclés par les vagues qui viennent cogner les
falaises !<br/>
Défendus par les entrailles de cette caverne humide, je tressaillis à chaque coup de tonnerre. La nature veut nous
montrer qu’elle est invincible, que nous ne sommes rien face à elle.<br/>
Le ciel gronde, la mer rugit.<br/>
Je ne sais pas à qui sont ces bras qui m’enlacent et me protègent des flashs aveuglants. Attendre... la fin de ce caprice
divin.<br/>
        [...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
    </div>
  </div>
</div>

<div id="marker-23">
  <div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
    <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "24.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>Kilauea Volcano (Big Island) - HAWAII</h3>
      <p>[...]<br/>
        La nuit tombe sur le volcan et l'obscurité révèle les contours de son éruption ...<br/>
Il tousse ses cendres, crache sa lave en fusion.<br/>
L'épais nuage noir qu'il projette semble hésiter, puis envahit le ciel en s'emparant des astres qu'il masque.<br/>
Les panaches de fumées rouges se dissipent dans l'atmosphère et je reste sans voix devant ce spectacle
extraordinairement éphémère.<br/>
        [...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
    </div>
  </div>
</div>

<div id="marker-24">
  <div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
    <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "25.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>Kona (Big Island) - HAWAII</h3>
      <p>[...]<br/>
        J’attrape instinctivement sa main, lui transmettant mon émotion, tandis que mes yeux s’emplissent de larmes
devant la folle puissance et la beauté surréaliste de ce spectacle.<br/>
        [...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
    </div>
  </div>
</div>

<div id="marker-25">
  <div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
    <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "26.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>Waipio Valley (Big Island) - HAWAII</h3>
      <p>[...]<br/>
        Les vitres sont encore recouvertes de la condensation de cette nuit humide.J’avale deux mangues et enfile mon short,
à l’intérieur même de mon sac de couchage. J’observe depuis la lunette de la banquette arrière l’avenue résidentielle
à l’air abandonnée dans laquelle je me suis garée pour la nuit.<br/>
Je suis en pleine campagne, coupée de tout réseau.<br/>
<em>Private property.</em><br/>
J’enjambe la clôture et les fils barbelés qui indiquent que le sentier est fermé au public.<br/>
A pas feutrés, je foule la rosée du matin et assiste aux premiers souffles du jour. Les rayons caressent la petite maison
en bois vert qui surmonte la colline.<br/>
        [...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
    </div>
  </div>
</div>

<div id="marker-26">
  <div style="height: 90vh;" class="d-flex justify-content-around align-items-center">
    <div style="width: 65%; height: 100%;" class="d-flex justify-content-center align-items-center">
      <%= image_tag "27.png", style: "max-width: 65vh; max-height: 90vh;" %>
    </div>
    <div style="width: 35%; height: 100%;" class="d-flex flex-column justify-content-center align-items-center">
      <h3>San Francisco - CALIFORNIA (USA)</h3>
      <p>[...]<br/>
        L’emblème incontournable de San Francisco me domine, élégamment et miraculeusement libre de tout brouillard.<br/>
Les rayons de lumière de la fin de journée font ressortir les reflets orangés et non dorés du majestueux pont.<br/>
Mon portable vibre. Je sursaute. Cette fois-ci, il n’aura mis que quelques minutes à répondre.<br/>
        [...]
      </p>
      <%= link_to "Retour à la carte", trip_path, remote: true %>
    </div>
  </div>
</div>
