<div class="container-fluid w-100 d-flex flex-row">
  <div class="container-require">
<%= form_with(model: @user, url: {action: :payment}) do |f| %>
      <div class="field-require">
        <h3>Informations personnelles :</h3>
        <%= f.label "Prénom" %>
        <%= f.text_field :firstname, autocomplete: :firstname %>|
        <%= f.label "Nom" %>
        <%= f.text_field :lastname, autocomplete: :lastname %>|
        <%= f.label "Numéro de téléphone" %>
        <%= f.text_field :phonenumber, autocomplete: :phonenumber, placeholder: "06" %>
      </div>
      <div class="field-require">
        <%= f.check_box("billingtoo", {checked: false}, class: "billingSame") %>
        <em>Check this box if Billing Address and Mailing Address are the same.</em>
      </div>
      <br>
      <div class="field-require">
      <h3>Adresse de livraison :</h3>
        <%= f.label "Prénom" %>
        <%= f.text_field :del_firstname, autocomplete: :firstname %>|
        <%= f.label "Nom" %>
        <%= f.text_field :del_lastname, autocomplete: :lastname %>|
        <%= f.label "Adresse" %>
        <%= f.text_field :del_address, autocomplete: :del_address, placeholder: "8 Rue des Oliviers" %>|
        <%= f.label "Code Postal" %>
        <%= f.text_field :del_zipcode, autocomplete: :del_zipcode, placeholder: "33000" %>|
        <%= f.label "Ville" %>
        <%= f.text_field :del_town, autocomplete: :del_town, placeholder: "Bordeaux" %>
      </div>
      <br>
      <div class="field-require">
        <h3>Adresse de facturation :</h3>
        <%= f.label "Prénom" %>
        <%= f.text_field :fac_firstname, autocomplete: :fac_firstname %>|
        <%= f.label "Nom" %>
        <%= f.text_field :fac_lastname, autocomplete: :fac_lastname %>|
        <%= f.label "Adresse" %>
        <%= f.text_field :fac_address, autocomplete: :fac_address, placeholder: "8 Rue des Oliviers" %>|
        <%= f.label "Code Postal" %>
        <%= f.text_field :fac_zipcode, autocomplete: :fac_zipcode, placeholder: "33000" %>|
        <%= f.label "Ville" %>
        <%= f.text_field :fac_town, autocomplete: :fac_town, placeholder: "Bordeaux" %>
      </div>
      <div class="container-fluid w-100 d-flex flex-row">
          <%= f.submit "Confirmer la commande", class: "card-d3" %>
      </div>
  <% end %>
</div>
