<%= form_for(@user, url: {action: :payment}, method: :get) do |f| %>
  <div class="form-group">
      <h3>Informations personnelles :</h3>
      <div class="field">
        <%= f.label "Prénom" %>
        <%= f.text_field :firstname, autocomplete: "#{@user.firstname}" %>
      </div>

      <div class="field">
        <%= f.label "Nom" %>
        <%= f.text_field :lastname, autocomplete: @user.lastname %>
      </div>
  </div>

  <div class="form-group">
      <h3>Adresse de livraison :</h3>
      <div class="field">
        <%= f.label "Adresse" %>
        <%= f.text_field :del_address, autocomplete: @user.del_address, placeholder: "8 Rue des Oliviers" %>
      </div>

      <div class="field">
        <%= f.label "Code Postal" %>
        <%= f.text_field :del_zipcode, autocomplete: @user.del_zipcode, placeholder: "33000" %>
      </div>

      <div class="field">
        <%= f.label "Ville" %>
        <%= f.text_field :del_town, autocomplete: @user.del_town, placeholder: "Bordeaux" %>
      </div>
  </div>

  <p id="shiptobilling" class="form-row">
     L'adresse de facturation est la même que celle de livraison <input type="checkbox" onclick="SetBilling(this.checked);" checked="checked" />
   </p>

  <div id="deliveryaddres" class="form-group shipping_address" style="display:none;">
      <h3>Adresse de facturation :</h3>
      <div class="field">
        <%= f.label "Adresse" %>
        <%= f.text_field :fac_address, autocomplete: @user.fac_address, placeholder: "8 Rue des Oliviers" %>
      </div>

      <div class="field">
        <%= f.label "Code Postal" %>
        <%= f.text_field :fac_zipcode, autocomplete: @user.fac_zipcode, placeholder: "33000" %>
      </div>

      <div class="field">
        <%= f.label "Ville" %>
        <%= f.text_field :fac_town, autocomplete: @user.fac_town, placeholder: "Bordeaux" %>
      </div>
  </div>

  <%= f.submit "Go!", class: "btn btn-large btn-primary" %>
<% end %>
