<div class="aba">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="aba1">
    <div class="aba11">
      <p><%= image_tag 'anonym.png',  height: "37%", width: "72%"%></p>
    </div>
    <div class="aba12">
      <div class="aba121">
      <p><%= f.text_field :login, autofocus: true, placeholder: "Pseudo", class: "input-connect" %></p>
      </div>
      <div class="aba122">
      <p><%= f.password_field :password, autocomplete: "off", placeholder: "Mot de passe", class: "input-connect" %></p>
      </div>
      <div class="aba123">
        <p><%= f.submit "Connexion", class: "btn-connect"%></p>
        <div class="fd-btn-connect"></div>
      </div>
    </div>
  </div>
  <div class="aba2">
    <div class="aba21">
      <p><%= render "devise/shared/links0" %></p>
    </div>
    <div class="aba22 ">
      <p><%= render "devise/shared/links1" %></p>
    </div>
  </div>
  <% end %>
</div>
