  <div class="div-signin">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="close">

    </div>
    <div class="dsi-img">
    </div>
    <div class="dsi-pseudo">
      <p><%= f.text_field :login, autofocus: true, placeholder: "Pseudo", class: "input-connect" %></p>
    </div>
    <div class="dsi-pwd">
      <p><%= f.password_field :password, autocomplete: "off", placeholder: "Mot de passe", class: "input-connect" %></p>
    </div>
    <div class="dsi-btn">
      <p><%= f.submit "Connexion", class: "btn-connect"%></p>
    </div>
    <div class="dsi-fd-btn">
    </div>
    <div class="dsi-cre">
      <p><%= render "devise/shared/links0" %></p>
    </div>
    <div class="dsi-oubli">
      <p><%= render "devise/shared/links1" %></p>
    </div>
      <% end %>
  </div>
