<div class="nav">

  <div class="pi_content">
    <i class="far fa-check-circle"></i>  Se creer un compte</br>
    <i class="far fa-circle"></i> Acheter le livre</br>
    <i class="far fa-circle"></i> Visiter l'atelier</br>
    <i class="far fa-circle"></i> Laisser son</br><i class="far fa-check-circle"></i> temoignage
  </div>

  <div class="story">
      <div class="aa1">
        <div class="aa11">
        </div>
        <div class="aa12">
            <p>Voyageur: <%= @user.username.capitalize %></p>
        </div>
      </div>
      <div class="aa2">
        <div class="aa21">
          <%= link_to 'Changer ma photo' %>
        </div>
        <div class="aa22">
            <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete %>
        </div>
      </div>
  </div>

  <div class="infos">
  </div>
  <div class="postit">
  </div>

  <div class="orders">
    <h2>Mes commandes passées :</h2>
    <table class="table">
      <thead>
        <tr class="thead">
          <th> # </th>
          <th>Articles</th>
          <th>Prix</th>
        </tr>
      </thead>
      <tbody>
    <% @user.orders.each do |order| %>
        <tr class="orderdetails">
          <th class="" rowspan="<%= order.order_items.length %>"><%= order.id %></th>
          <% order.order_items.each do |item| %>
          <td><%= item.product.title %></td>
          <td><%= item.product.price %> €</td>
        </tr>
      <% end %>
      <tr class="ordertotal">
        <th colspan="2">SOUS-TOTAL</th>
        <th><%= order.subtotal %> €</th>

      </tr>
    <% end %>
  </tbody>
  </div>
</div>
