<div class="bg-content">
<div class="row">
  <div class="col-lg-6 bg-info">
    <h2>Mes infos</h2>
    <p>Pseudo: <%= @user.username %></p>
    <p>Nom: <%= @user.lastname %></p>
    <p>Prénom: <%= @user.firstname %></p>
  </div>


  <div class="col-lg-6 bg-danger">
    <h2>Mes commandes passées :</h2>
    <table class="table">
      <thead>
        <tr class="table-active">
          <th scope="col">N° de commande</th>
          <th scope="col">Articles</th>
          <th scope="col">Prix</th>
        </tr>
      </thead>
      <tbody>
  <% @user.orders.each_with_index do |order, i| %>
        <tr>
          <th  class="table-active" rowspan="<%= order.order_items.length %>"><%= i %></th>
      <% order.order_items.each do |item| %>
          <td><%= item.product.title %></td>
          <td><%= item.product.price %> €</td>
        </tr>
      <% end %>
      <tr class="table-secondary">
        <th></th>
        <th>SOUS-TOTAL</th>
        <th><%= order.subtotal %> €</th>
      </tr>
  <% end %>
  </div>

</div>
</div>
