<div class="post-class">
  <h1>Temoignages</h1>
</div>
<div class="btn-post">
<%= link_to 'Laisser une trace', new_post_path, remote: true %>
</div>
<div class="showpost" style="background-color: rgba(255,255,255,0.2);height: 90%;">
<% @posts.each do |post| %>
 <% if !post.publish? %>
  <div class="post">
    <div class="post-title">
      <div class="post-manage">
        <% if current_user.is_admin == true %>
          <h3>
            <%= link_to 'Edit', edit_post_path(post), remote: true %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
          </h3>
        <% end %>
      </div>
      <%= post.title.capitalize %>
      <div class="post-show">
        <h3>
          <%= link_to 'Show', post, remote: true %>
        </h3>
      </div>
    </div>
    <hr>
    <div class="post-description"><p><%= post.description %></p></div>
  </div>
  <% end %>
  <% end %>
</div>
