<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-lg-6">
    <%= render @post %>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <%= render @post.comments %>
    <p>machin</p>
  </div>
  <div class="col-lg-6">
    <%= form_for @comment, url: {controller: :comments, action: :create}, method: :post do |f| %>
      <%= f.text_field :content, placeholder: "Ecrire un commentaire" %>
      <%= f.submit "Commenter" %>
    <% end %>
  </div>
</div>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
