<%= form_for(@product) do |f| %>
  <div class="form-group">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, "Description" %>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :quotation, "Citation" %>
    <%= f.text_area :quotation, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :size, "Size" %>
    <%= f.text_field :size, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :published, "Publish Now ?" %>
    <%= f.check_box :published, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image, "Image" %>
    <%= f.hidden_field(:image_cache) %>
    <%= f.file_field(:image, :folder => "images") %>
  </div>
  <div class="form-group">
    <%= f.label :price, "Price" %>
    <%= f.number_field :price, class: "form-control", min: 1 %>
  </div>

  <%= f.submit "Save", class: "btn btn-success" %>

<% end %>
