<div class="card-title">
  <h4><%= @product.title %></h4>
  <h5><%= link_to "Retour à l'atelier", shop_path, remote: true %></h5>
</div>
  <div class="card-content">
    <div class="card-description">
      <h3>Description : </h3>
        <h2><%= @product.description %></h2><br>
      <h3>Prix : </h3>
        <h2><%= @product.price %> €</h2><br>
      <h3>Dimensions : </h3>
        <h2><%= @product.size %></h2>
          <% if !(current_user.products.include? @product) %>
            <div class="card-btn">
              <%= form_for @order_item, remote: true do |f| %>
                <%= f.hidden_field :product_id, value: @product.id %>
                <%= f.hidden_field :quantity, value: 1, min: 1 %>
                <%= f.submit "Ajouter au sac à dos", class:"btn btn-success" %>
              <% end %>
            </div>
          <% end %>

    </div>
    <div class="card-image">
      <%= image_tag @product.image, class: "img-item" %>
    </div>

  </div>
