<div class="index-title">
  <h1>Produits</h1>
  <%= link_to 'Nouveau Produit', new_product_path %> |
  <%= link_to 'Dashboard', root_path %> |
  <%= link_to 'Gestion Commandes', admin_orders_path %> |
  <%= link_to 'Gestion Utilisateurs', admin_users_path %>
</div>
<div class="index-products">
  <table class="table">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Description</th>
        <th>Citation</th>
        <th>Dimensions</th>
        <th>Publié</th>
        <th>Publier</th>
        <th>Prix</th>
        <th>Image</th>
        <th colspan="2">Action</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= simple_format(product.quotation) %></td>
        <td><%= product.size %></td>
        <td><% if product.published == true %>Oui<% else %>Non<%end %></td>
        <td>
          <% if product.published == true %>
            <%= link_to "Retirer", unpublish_path(product), method: 'patch' %>
          <% elsif product.published == false || product.published == nil %>
          <%= link_to "Publier", publish_path(product), method: 'patch' %>
          <% end %>
        </td>
        <td><%= product.price %></td>
        <td><%= cl_image_tag("#{product.image_url}", :width=>350, :fetch_format=>:auto, :crop=>"scale") %></td>
        <td>
          <%= link_to "Editer", edit_product_path(product) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
