<div class="index-title">
  <h1>Products</h1>

  <%= link_to 'New Product', new_product_path %> |
  <%= link_to 'Return to home', root_path %>
</div>
<div class="index-products">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Size</th>
        <th colspan="2">Citation</th>
        <th>Published</th>
        <th>Change</th>
        <th>Price</th>
        <th>Image(s)</th>
        <th colspan="2">Actions</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.size %></td>
        <td colspan="2"><%= simple_format(product.quotation) %></td>
        <td><%= product.published %></td>
        <td>
          <% if product.published == true %>
            <%= link_to "Unpublish", unpublish_path(product), method: 'patch' %>
          <% elsif product.published == false || product.published == nil %>
          <%= link_to "Publish", publish_path(product), method: 'patch' %>
          <% end %>
        </td>
        <td><%= product.price %></td>
        <td><%= cl_image_tag("#{product.image_url}", :width=>350, :fetch_format=>:auto, :crop=>"scale") %></td>
        <td>
          <%= link_to "Edit", edit_product_path(product) %>
        </td>
        <td>
          <%= link_to "Delete", product_path(product), method: :delete %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
