<!DOCTYPE html>
<html>
  <head>
    <title>FinalProjectThpTeambdxRtom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="dash-bg" class="dashboard-background"></div>

    <div class="dashboard z-content">

        <div class="container container-fluid dash-content">

            <%= yield %>

        </div>

    </div>

  </body>
</html>
