<!DOCTYPE html>
<html>
  <head>
    <title>RTOM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120789881-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-120789881-1');
    </script>

    <meta name="description" content="Site réservé au monde du voyage, des rencontres et de la fabuleuse histoire d'une voyageuse nommée Margaux, renommée Mango. Ce site Web présente l'oeuvre et tous les porduits dérivés de l'incroyable aventure de Resilience Travel of Mango.">
    <meta name="robots" content="noindex,nofollow">

    <meta property="og:url" content="https://resiliencetravelofmango.fr/" />
    <meta property="og:title" content="Resilience Travel of Mango" />
    <meta property="og:description" content="Univers de la fabuleuse histoire d'une voyageuse nommée Margaux, renommée Mango. Ce site Web présente l'oeuvre et tous les porduits dérivés de l'incroyable aventure de Resilience Travel of Mango." />
    <meta property="og:image" content="https://cdn-images-1.medium.com/max/1884/1%2AO2xj7rtu7McbdT4g8nDqMA.jpeg" />

    <meta name="keywords" content="voyage art tour du monde resilience travel mango margaux fontaine rencontres avions trip journey" />
    <meta name="author" content="Maxime FLEURY Baptiste ROGEON Margaux FONTAINE" />
  </head>

  <body>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
